[Unit]
Description=Bell Controller
Wants=network-online.target
After=network.target network-online.target

[Service]
ExecStart=/usr/local/bell-controller/controller.py
Wants=network-online.target
Restart=on-failure

[Install]
WantedBy=multi-user.target
